{% extends 'base.html' %}
{% load static %}
        {% block custom_picture %}
		 <div class="main_pic">
			<img src="http://www.dsgd.co/Upload/ad/index05-16134157779.jpg" alt="品牌产品" />
		</div>
        {% endblock %}
        {% block custom_zhong %}
		<div class="zy_toolbar_div">
			<div class="main_c">
				<div class="owl-carousel zy_toolbar">
				    {% for nodelist in classlists %}
                        {% if nodelist.parent_category_id == 6 %}
                    <a href="{% url 'index' %}{{ nodelist.slug }}/{{ nodelist.id }}">{{ nodelist.name }}<div class="line01"></div></a>
                        {% endif %}
                    {% endfor %}
					<a href="#"></a></div>
				</div>

				<link rel="stylesheet" href="{% static 'owl/owl.carousel.css' %}">
				<script src="{% static 'owl/owl.carousel.js' %}"></script>
				<script>
					$(document).ready(function($) {
						$('.zy_toolbar').owlCarousel({
							items: 8,
							loop: false,
							margin: 0,
							lazyLoad: true,
							merge: true,
							video: true,
								responsive:{
			320:{
				items:4
			},
			375:{
				items:4
			},
			480:{
				items:4
			},

			768:{
				items:4
			},
			1024:{
				items:7
			},
			1200:{
				items:7
			},
			1400:{
				items:7
			}


		}
						});

					});


				</script>
				<div class="clear"></div>
			</div>
        {% endblock %}
{% block custom_body %}{% endblock %}